/*-------- 12. Footer style ---------*/

.footer-menu {
  nav {
    ul {
      li {
        display: inline-block;
        margin-right: 47px;
        @media #{$lg-layout} {
          margin-right: 30px;
        }
        @media #{$md-layout} {
          margin-right: 6px;
        }
        @media #{$xs-layout} {
          margin-right: 5px;
        }
        @media #{$sm-layout} {
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 16px;
          letter-spacing: 0.25px;
          color: $black;
          display: inline-block;
          text-transform: uppercase;
          @media #{$xs-layout} {
            font-size: 14px;
          }
          &:hover {
            color: $theme-color-red;
          }
        }
      }
    }
  }
  &.footer-menu-mrg {
    nav {
      ul {
        li {
          margin-right: 47px;
          @media #{$lg-layout} {
            margin-right: 30px;
          }
          @media #{$md-layout} {
            margin-right: 35px;
          }
          @media #{$xs-layout} {
            margin-right: 5px;
          }
          @media #{$sm-layout} {
            margin-right: 15px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  &.footer-menu-hover-border {
    nav {
      ul {
        li {
          position: relative;
          a {
            position: relative;
            &::after {
              content: "";
              height: 1px;
              right: 0px;
              left: auto;
              width: 0;
              bottom: 0;
              position: absolute;
              transition: width 300ms ease-out;
              background-color: $black;
            }
            &.active {
              &::after {
                left: 0px;
                right: auto;
                width: 100%;
                transition: width 300ms ease-in;
              }
            }
          }
          &:hover {
            > a {
              color: $black;
              &::after {
                left: 0px;
                right: auto;
                width: 100%;
                transition: width 300ms ease-in;
              }
            }
          }
        }
      }
    }
  }
}

.copyright {
  p {
    color: #999;
    letter-spacing: 0.25px;
    a {
      color: #999;
      span {
        color: $theme-color-red;
      }
      &:hover {
        color: $theme-color-red;
      }
    }
  }
  @media #{$xs-layout} {
    &.copyright-center {
      text-align: center;
    }
  }
}

.social-style-3-wrap {
  span {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 20px;
    @media #{$xs-layout} {
      margin: 0 0 7px;
    }
  }
  @media #{$xs-layout} {
    &.xs-center {
      text-align: center;
      .social-style-1 {
        justify-content: center;
      }
    }
  }
}

.footer-logo-mrg {
  margin-bottom: 30px;
  @media #{$xs-layout} {
    margin-bottom: 10px;
  }
}

.contact-info-wrap-2 {
  p {
    margin-bottom: 7px;
    @media #{$md-layout} {
      margin: 0 auto 7px;
      width: 80%;
    }
  }
  @media #{$xs-layout} {
    margin: 30px 0 30px;
  }
}

.language-style-2-wrap {
  &.language-style-2-right {
    text-align: right;
    @media #{$xs-layout} {
      text-align: center;
    }
  }
  span {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 20px;
    @media #{$xs-layout} {
      margin: 0 0 10px;
    }
  }
  .language-style-2 {
    a {
      display: inline-block;
      margin-right: 15px;
      font-size: 16px;
      color: #999999;
      &:hover {
        color: $black;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer-middle-mrg {
  margin: 80px 0 75px;
  @media #{$md-layout} {
    margin: 40px 0 35px;
  }
  @media #{$xs-layout} {
    margin: 30px 0 25px;
  }
}

@media #{$md-layout} {
  .footer-area {
    &.pb-65 {
      padding-bottom: 45px;
    }
  }
  .footer-top {
    &.pb-55 {
      padding-bottom: 35px;
    }
  }
}

@media #{$xs-layout} {
  .footer-area {
    &.pb-65 {
      padding-bottom: 55px;
    }
    &.pb-90 {
      padding-bottom: 55px;
    }
    &.pt-85 {
      padding-top: 55px;
    }
    &.pt-95 {
      padding-top: 55px;
    }
  }
  .footer-top {
    &.pb-55 {
      padding-bottom: 15px;
    }
  }
}
